.ProgressCircle {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 80px;
  height: 80px;

  &-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 400ms ease-in-out, stroke-width 400ms ease-in-out;
  }

  &:hover {
    &-circle {
      background: #e2e2e2;
    }

    &-label {
      color: #5677fc;
    }
  }

  svg path {
    fill: #fff;
  }

  &-active {
    svg {
      fill: #5677fc;
    }
  }

  &-circle {
    border-radius: 50%;
    position: relative;
    width: $avatar-size;
    height: $avatar-size;

    &-icon {
      position: absolute;
      width: $avatar-size / 2;
      height: $avatar-size / 2;
      left: $avatar-size / 4;
      top: $avatar-size / 4;
    }
  }

  &-label {
    margin-top: 8px;
    font-size: 0.8em;
    line-height: 1.25em;
    text-align: center;
  }
}