$avatar-size: 64px;
$active-scale: 1.25;

.Avatar {
  cursor: pointer;
}

.ProgressCircle {
  width: $avatar-size;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    &-circle {
      background: #e2e2e2;
    }

    &-label {
      color: #5677fc;
    }
  }

  svg {
    fill: #fff;
  }

  &-active {
    svg {
      fill: #5677fc;
    }
  }

  &-circle {
    border-radius: 50%;
    position: relative;
    width: $avatar-size;
    height: $avatar-size;

    &-icon {
      position: absolute;
      width: $avatar-size / 2;
      height: $avatar-size / 2;
      left: $avatar-size / 4;
      top: $avatar-size / 4;
    }
  }

  &-label {
    margin-top: 8px;
    font-size: 0.8em;
    line-height: 1.25em;
    text-align: center;
  }
}

.avatar-modal {
  .items {
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      margin-right: 8px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      .progress-circle.active {
        width: $avatar-size * $active-scale;

        .circle {
          width: $avatar-size * $active-scale;
          height: $avatar-size * $active-scale;
        }

        .icon {
          width: $avatar-size / 2 * $active-scale;
          height: $avatar-size / 2 * $active-scale;
          left: $avatar-size / 4 * $active-scale;
          top: $avatar-size / 4 * $active-scale;

        }
      }

      &:last-child {
        .sep {
          display: none;
        }
      }

      .sep {
        background: #ccc;
        width: $avatar-size;
        height: 8px;
        margin-top: -20px;
        margin-left: 8px;
      }
    }
  }

  h1 {
    text-align: center;
  }
}