.CourseBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5677fc;
  color: white;

  &-course-title, &-didyouknow {
    flex-basis: 360px;
    padding: 0.5em;
  }

  &-course-title {
    font: 20px/1em 'Comic Sans MS';
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;

    &-button {
      background: #455A64;
      border: none;
      font-size: 2em;
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      width: 64px;

      user-select: none;

      &:hover {
        background: #37474F;
        color: rgba(255, 255, 255, 1);
      }

      &-disabled {
        pointer-events: none;
        color: rgba(255, 255, 255, 0.25);
      }

      &-bright {
        background: #8BC34A;
        color: rgba(255, 255, 255, 1);

        &:hover {
          background: #AEEA00;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &-box {
      display: flex;
      align-items: center;
      background: #607D8B;
      padding: 0.5em;
      width: 360px;

      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;

        &-course-title {
          font-size: 1.25em;
          line-height: 1em;
        }

        &-task-title {

        }
      }
    }
  }

  &-didyouknow {
    font-style: italic;
  }
}