.Experiment {
  align-items: stretch;
  color: #333;
  display: flex;
  position: relative;
}

.Experiment-sidebar {
  overflow: scroll;
  padding: 30px;
}

.Experiment-title {
  margin: 0;
  line-height: 1.4;
  font-size: 26px;
  padding: 0;
  margin: 0 0 25px 0;
}

.Experiment-part {
  border-top: 1px solid #ddd;
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
}

.Experiment-subTitle {
  @extend .Experiment-title;
  font-size: 20px;
}

.Experiment-content {
  margin: 0;
  min-width: 300px;
  max-width: 760px;
}

.Experiment-instructions{
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  border: 1px solid #AEBCD1;
  background: #E4ECF7;
}

.Experiment-formula{
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  background: #EAF0E4;
   border: 1px solid #BFC9B5;
}

.Experiment-answer{
  margin-top: 20px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  border: 1px solid #D1C9B8;
  background: #F7F1E4; 
}

.List-instructions{
  list-style-type: disc;
}

.Experiment-main {
  background: #f2f2f2;
  overflow: scroll;
  padding: 30px;
}
