.Experiment {
  align-items: stretch;
  color: #333;
  display: flex;
  position: relative;
}

.Experiment-sidebar {
  overflow: scroll;
  padding: 30px;
}

.Experiment-title {
  margin: 0;
  line-height: 1.4;
  font-size: 26px;
  padding: 0;
  margin: 0 0 25px 0;
}

.Experiment-part {
  border-top: 1px solid #ddd;
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
}

.Experiment-subTitle {
  @extend .Experiment-title;
  font-size: 20px;
}

.Experiment-content {
  margin: 0;
  min-width: 300px;
  max-width: 760px;
}

.Experiment-instructions{
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #D3DDED;
  
  &-list{
    list-style-type: disc;
  }
}

.Experiment-formula{
  padding: 20px;
  padding-right: 20px;
  border: 1px solid #ddd;
}

.Experiment-answer{
  margin-top: 20px;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #E8DFCC;
}

.Experiment-main {
  background: #f2f2f2;
  overflow: scroll;
  padding: 30px;
}

.Experiment-button {
  &, &:visited {
    background: #5677FC;
    border: 1px solid #3C53B1;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-top: 30px;
    padding: 10px 20px;
    transition: opacity .3s ease;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    opacity: .85;
  }
}

