.task {
  padding: 1em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .part {
      display: flex;
      margin: 0.5em 0;

      .left {
        background: #ccc;
        width: 20%;
        padding: 0.5em 1em;
      }

      .right {
        width: 80%;
        padding: 0.5em 1em;
      }
    }
  }

  ul.navigation {
    position: fixed;
    right: 1em;
    top: 128px;

    h1 {
      font-size: 1em;
    }

    h2 {
      font-size: 1em;
    }
  }
}