.Task {
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .part {
      display: flex;
      margin: 0.5em 0;

      .left {
        background: #ccc;
        width: 20%;
        padding: 0.5em 1em;
      }

      .right {
        width: 80%;
        padding: 0.5em 1em;
      }
    }
  }

  .Introduction {

    &-nav {
      position: absolute;
      right: 0%;
      width: 26%;
      top: 128px;
      bottom: -128px;
      background: #fafafa;
      padding: 2em 1em 2em 2em;
      z-index: 9;
      border-left: 1px solid #bbb;
      border-right: 1px solid #bbb;

      &-sticky {
        top: 64px;
        position: fixed;
      }

      &-item-title {
        font-weight: bold;
        font-size: 1.2em;
      }

      &-title {
        color: #888;
        font-size: 1.5em;
        text-decoration: underline;
      }

      ul {
        list-style: none;

        li {
          color: #888;
          margin-top: 0.5em;
          margin-right: 0.1em;
        }

        a {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    margin-right: 33%;

    h1, h2 {
      margin-left: 28%;
    }

    h2 {
      border-bottom: 1px solid #E0E0E0;
      margin: 1em 0 0.5em 28%;
      padding-bottom: 0.5em;
    }

    &-part {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1em;

      h3 {
        flex: 0 0 25%;
        padding-left: 5%;
        text-align: right;
        margin: 0 3% 0 0;
        color: #aaa;
      }

      p {
        margin-top: 0;
      }

      p:last-child {
        margin: 0;
      }

      &-content {
        ul {
          margin-left: 1em;
          list-style: square;
        }

        h4 {
          margin: 0 0 1em 0;
        }

        &-image {
          margin: 20px;
          margin-left: 0px;
          width: 70%;

        }

        &-example {
          padding: 1em;
          //background: #E3F2FD;
          border: 1px solid #B2C0D1;
          margin-bottom: 1em;
          border-radius: 0.5em;

          &::before {
            content: 'Example';
            font-weight: bold;
            margin-bottom: 1em;
            display: block;
          }
        }
        &-variable{
          padding: 1em;
          //background: #FCF5ED;
          border: 1px solid #C9B8A7;
          margin-bottom: 1em;
          border-radius: 0.5em;
        }
      }
    }
  }
}
