.ChapterProgressBar {
  background: #555;
  border-radius: 14px;
  padding: 4px;
  position: relative;
  margin-right: 50px;
  width: 360px;
}

.ChapterProgressBar-bar {
  background: #8A6FD5;
  border-radius: 10px;
  height: 24px;
}

.ChapterProgressBar-text {
  color: #333;
  font-size: 18px;
  position: absolute;
  right: -50px;
}
