.Chapters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 95%;
}

.Chapter {
  background: #fafafa;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px 25px;
  position: relative;
  width: 48%;
}

.Chapter-progress {
  background: #5677FC; 
  height: 100%;
  left: 0;
  position: absolute;
  opacity: .7;
  top: 0;
  z-index: 1;
}

.Chapter-title {
  position: relative;
  z-index: 2;
}
