$avatar-size: 64px;
$profile-image-size: 48px;
$footer-height: 96px;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font: 16px/1.5em "proxima-nova", sans-serif;
  margin: 0;
  padding: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.main-outer-wrapper {
  height: 100%;
}

.main-inner-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 0.5em;
  border-bottom: 1px solid #dedede;

  nav {
    margin-left: 0.5em;
    flex: 1;
    display: flex;
    text-transform: uppercase;

    a {
      margin: 0 0.25em;
      padding: 0.25em 0.75em;
      text-decoration: none;
      color: black;
      border-radius: 1em;

      &.active {
        background: #5677fc;
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .profile {
    margin-right: 0.5em;
    display: flex;
    align-items: center;

    .image {
      background: url(https://df0179xsabjj8.cloudfront.net/small/216592_O3DSzwCDG6WPpm6q_308492.jpg);
      background-size: cover;
      border-radius: 50%;
      width: $profile-image-size;
      height: $profile-image-size;
      margin-left: 1em;
    }
  }
}

.main-content {
  overflow: hidden;
}

.main-footer {
  display: flex;
  align-items: center;
  text-align: center;
  height: $footer-height;
  background: #1D1F21;
  padding: 1em;
  color: #c2c2c2;
}

.register {
  text-align: center;

  input, button {
    font-size: 2em;
    padding: 0.25em;
    border-radius: 0.25em;
    background: white;
    border: 0.1em solid #f2f2f2;
  }

  button {
    background: #5677fc;
    color: white;
    padding: 0.5em 0.75em;
  }
}

svg.award {
  width: 80px;
  height: 80px;
  margin: 8px;

  path {
    fill: white;
  }
}

@import 'components/Avatar';
@import 'components/Experiment';
@import 'components/SizeController';