$avatar-size: 64px;
$profile-image-size: 48px;
$footer-height: 96px;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font: 16px/1.5em "proxima-nova", sans-serif;
  margin: 0;
  padding: 0;

  &.ReactModal__Body--open {
    overflow: hidden;

    #root {

    }
  }
}

// .axis path,
// .axis line {
//   fill: none;
//   stroke: #000;
//   shape-rendering: crispEdges;
// }

// .x.axis path {
//   display: none;
// }

// .line {
//   fill: none;
//   stroke: steelblue;
//   stroke-width: 1.5px;
// }

.Wrapper {
  height: 100%;

  &-inner {
    min-height: 100%;
    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;
  }

  &-inner-content {
    overflow: hidden;
  }
}

.Header {
  // .profile {
  //   margin-right: 0.5em;
  //   display: flex;
  //   align-items: center;

  //   .image {
  //     background: url(https://df0179xsabjj8.cloudfront.net/small/216592_O3DSzwCDG6WPpm6q_308492.jpg);
  //     background-size: cover;
  //     border-radius: 50%;
  //     width: $profile-image-size;
  //     height: $profile-image-size;
  //     margin-left: 1em;
  //   }
  // }
}

.Footer {
  display: flex;
  align-items: center;
  text-align: center;
  height: $footer-height;
  background: #1D1F21;
  padding: 1em;
  color: #c2c2c2;
}

.register {
  text-align: center;

  input, button {
    font-size: 2em;
    padding: 0.25em;
    border-radius: 0.25em;
    background: white;
    border: 0.1em solid #f2f2f2;
  }

  button {
    background: #5677fc;
    color: white;
    padding: 0.5em 0.75em;
  }
}

.TeXTest {
  padding: 1em;
}

@import 'components/Avatar';
@import 'components/AvatarModal';
@import 'components/NavBar';
@import 'components/CourseBar';
@import 'components/Award';
@import 'components/AwardPopup';
@import 'components/Study';
@import 'components/Experiment';
@import 'components/ModalCloseButton';
@import 'components/SizeController';
@import 'components/Task';
