.Controls {
  margin-bottom: 30px;
}

.Slider {
  margin: 20px 0 30px 0;
  height: 40px;
  display: flex;
}

.Slider-slider {
  position: relative;
  top: 18px;
  width: 300px!important;
}

.Slider-value {
  border: 2px solid #bbb;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  margin: 0 20px;
  height: 40px;
  text-align: center;
  width: 40px;
}

.Controls-button {
  background: #5677FC;
  border: 1px solid #4460CE;
  border-radius: 5px;
  color: white;
  font: inherit;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 20px;
  text-align: center;

  &:last-of-type,
  & + & {
    margin-left: 20px;
  }
}

.Controls-button--small {
  @extend .Controls-button;
  background: #888;
  border-color: #444;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;

  &:last-of-type,
  & + & {
    margin-left: 15px;
  }
}

